a {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*”wŒiF*/
    border-bottom: solid 2px #d27d00;/*­‚µ”Z‚¢–Ú‚ÌF‚É*/
    border-radius: 4px;/*Šp‚ÌŠÛ‚İ*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
  }
  
  a:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }